.tooki__newsletter{
    display: flex;
    height: 300px;
    background: beige;
}
.tooki__newsletter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
}
.tooki__newsletter-container h2{
    width: 486.61px;
    height: 49px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #221638;
}
.tooki__newsletter-container h5{
    height: 22px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #606060;
}
.tooki__newsletter-container_email{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    margin-top: 1rem;
}
.tooki__newsletter-container_email input{
    background: #EAEAEA;
    border-radius: 5px;
    border: none;
    width: 400px;
    padding: 14px;
}
.tooki__newsletter-container_email button{
    padding: 11px 29.9531px 9px 55px;
    height: 50px;
    background: #0F64D2;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 1.5rem;
}


@media screen and (max-width:700px) {
    .tooki__newsletter-container h2{
        width: 450px;
        font-size: 30px;
    }
    .tooki__newsletter-container h5{
        margin-top: 0.2rem;
        height: 22px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        width: 300px;
    }
}


@media screen and (max-width:650px) {
    .tooki__newsletter-container_email{
        display: flex;
        flex-direction: column;
    }
    .tooki__newsletter-container-button{
        margin-top: 1rem;
    }
    .tooki__newsletter-container_email button{
        padding: 11px 29.9531px 9px 29.9531px;
        border-radius: 5px;
 
    }


}
@media screen and (max-width:600px) {
    .ksvesity__newsletter-container h2{
        width: 400px;
        font-size: 27px;
    }

}
@media screen and (max-width:415px) {
    .tooki__newsletter-container h2{
        width: 380px;
        font-size: 26px;
    }
    .tooki__newsletter-container_email input{
        width: 345px;
    }
}
@media screen and (max-width:393px) {
    .tooki__newsletter-container h2{
        width: 320px;
        font-size: 23px;
    }
    .tooki__newsletter-container_email input{
        width: 280px;
    }
    .tooki__newsletter-container h5{
        width: 260px;
    }

}
